$background: rgba(255,255,255,1);

$text-base: rgba(0,0,0,1);
$title-color: lighten($text-base, 10%);
$text-color: lighten($text-base, 33%);

$link-color: rgba(64,144,254,1); //$text-base
$link-color-visited: $link-color;
$link-color-hover: lighten($link-color, 20%);

$menu: $title-color;
$menu-hover: lighten($menu, 50%);
$menu-line: lighten($menu-hover, 10%);
