@import 'constants';

$family-serif: 'Merriweather', 'Times New Roman';
$family-sans: 'Open Sans', 'Arial';
$family-mono: 'Source Code Pro', 'Courier New';

$menu-size: 1.5em;
$menu-size-small: 1.1em;

$home-title-size: 1.3rem;

$project-title-size: 1.5rem;
$text-size: 1.2rem;
$detail-size: 1.1rem;
$code-responsive-size: 2.5vw;

@mixin fonts {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 14px;
    @include media-query(THREE) { 
      font-size: 16px;
    }
  }

  body {
    font: normal $text-size $family-serif;
    color: $TEXT-COLOR;
  }

  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.17rem; }
  h4 { font-size: 1.12rem; }
  h5 { font-size: .83rem; }
  h6 { font-size: .75rem; }

  p {
    font: normal $text-size $family-serif;
    word-spacing: 4px;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  s {
    text-decoration:line-through;
  }

  a {
    font: bold $detail-size $family-sans;
    font-weight: 900;
    text-decoration: none;
    color: $LINK-COLOR;
    cursor: pointer;
    text-transform: uppercase;
    transition: color $TRANSITION-PERIOD linear;

    &:visited {
      color: $LINK-COLOR-VISITED;
    }

    &:hover {
      color: $LINK-COLOR-HOVER;
    }
  }

  #navbar {
    font-size: 16px;
    a {
      font-size: $menu-size-small;
      color: $MENU;

      &:visited {
        color: $MENU;
      }

      &:hover {
        color: $MENU-HOVER;
      }
    }

    #nav-home {
      @include media-query(THREE) {
        font-size: $menu-size;
      }      
    }
  }

  #post {
    .content-title {
      font: bold $project-title-size $family-sans;
      color: $TITLE-COLOR;
    }

    .align-right {
      text-align: right;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }
  }

  code {
    white-space: pre;
    background-color: #000;
    color: #0f0;
    @include media-query(THREE) {
      font-size: $text-size;
    }
  }

  #post-list {
    .post-image-container {
      font: bold $project-title-size $family-sans;
      font-weight: 900;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
      text-align: center;
    }

    .post-title-container {
      font: bold $home-title-size $family-sans;
      font-weight: 900;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .social-icon a {
    font-size: 2.2rem;
    @include media-query(TWO) {
      font-size: 3rem;
    }
  }
}
