#navbar.nav-container
  .title-container
    a#nav-home(href="/")
      .nav-item #{config.title}
  .pages-container
    a#nav-about(href="/about/")
      .nav-item About
    a#nav-resources(href="/resources/")
      .nav-item Resources
