<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div id="main-div">
      <header id="home-header">
        <div class="video-wrapper video-wrapper-16x9">
          <iframe src="https://player.vimeo.com/video/165396798?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </header>
      <div id="post-list" class="post-list-container">
        {% for post in site.posts %}
          <a class="post-list-item" href="{{ post.url }}">
            <div class="post-image-container">
              {% assign daymonthyear = "10-OCT-2016" %}
              <div class="post-header">{{ daymonthyear }}</div>
              <div class="post-image">
                <img src="{{ post.cover }}" alt="{{ post.title }}" title="{{ post.title }}">
                <div class="post-title-container">{{ post.title }}</div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
